include AUTHORS
include LICENSE
include CHANGELOG.txt
include README.md
graft influxdb_metrics
global-exclude *.orig *.pyc *.log *.swp
prune influxdb_metrics/tests/coverage
prune influxdb_metrics/.ropeproject
